* {
  box-sizing: border-box;
  
}

body {
  margin: 0;
  font-family: "Hanken Grotesk", Arial, sans-serif;
  background-color: #262626;
  color: #D9D9D9;
  padding: 20px;
  height: 100vh;
  display: flex;
  justify-content: center;
}

header {
  text-align: center;
}

header > h1 {
  font-size: 1.25rem;
  font-weight: 500;
  color: #F9F4DA;
}

header > p {
  font-size: 0.875rem;
  max-width: 350px;
  color: #8E8E8E;
}
section {
  width: 352px;
  padding: 15px 0px 15px 0px; 
  border-radius: 4px 0px 0px 0px;
  opacity: 0px; 
  background-color: #10A95B; 
  text-align: center;
}
section > p {
  margin: 0 0 .5em 0
}

.chips {
  padding: 4.5px;
  border-radius: 4px; 
}
section.container-chips {
  display: flex; 
  align-items: center;
  justify-content: center;
  max-width: 350px;
  gap: 3px; 
  flex-wrap: wrap;
  background-color: inherit;
}